<h3 class="text-center">
    Products
</h3>

<p-table [columns]="cols" [value]="list">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header | titlecase}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-list let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{list[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>